/*Footer/contacto*/
.footer-container{
    height: 100px;
    background-color:black;
  }
  
  ul.footer-items i{
    color: yellowgreen;
    font-size: 35px;
    margin: 20px 0px;  
  }
  
  ul.footer-items a{
    text-decoration: none;
  }   
  
  /*efecto iconos de footer*/
  ul.footer-items i:hover{
    transition:  transform 250ms;
    transform: translateY(-10px);
  
  }   
  
  .footer-items {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
    width: 400px;
    padding: 10px 0px;
}
  